.nav{color: white;}
.nav{justify-content: center;}
.contrainer1{background-position: center;}
.row{justify-content: center;}
.right-align-text{text-align: right;}
.footer{text-align: center;}
.row-cols-12{background-position: center;}